/*@brand-primary: #84C140;*/
/*@gray-darkest: #222;*/
/*@gray: #777;*/
/*@gray-lighter: #f7f7f7;*/
.index-construction {
  color: white;
  font-size: 700;
}
.index-construction #bg {
  background-image: url("../img/header-bg-nks-flowers.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
.index-construction #bg-color {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
}
.index-construction #presentation {
  /*.presentation-containeur:hover {
      background-color: fade(white,40%);
    }*/
}
.index-construction #presentation #logo {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.index-construction #presentation .presentation-containeur {
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  padding-top: 25px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.index-construction #presentation .presentation-containeur .intro {
  background-color: rgba(122, 171, 68, 0.4);
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}
.index-construction #presentation .presentation-containeur .intro h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.index-construction #presentation .detail-containeur {
  font-size: 20px;
}
.index-construction #presentation .detail-containeur .societe {
  color: white !important;
}
.index-construction #presentation .detail-containeur li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.index-construction #presentation .detail-containeur li i {
  padding-right: 10px;
}
.index-construction #presentation .detail-containeur p,
.index-construction #presentation .detail-containeur ul,
.index-construction #presentation .detail-containeur li {
  font-size: 20px !important;
  font-weight: 300;
  margin-top: 10px;
}
.index-construction #prochaine-vp h1,
.index-construction #contact h1 {
  font-size: 20px;
  text-transform: none;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-weight: 300;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.index-construction #prochaine-vp {
  background-color: rgba(56, 56, 56, 0.8);
  color: white;
}
.index-construction #prochaine-vp #DateCountdown {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.index-construction #prochaine-vp .btn-vp {
  margin-top: 70px;
}
@media (max-width: 767px) {
  .index-construction #prochaine-vp .btn-vp {
    margin-top: 0;
  }
}
.index-construction #prochaine-vp .sapin {
  font-size: 25px;
  font-weight: 700;
}
.index-construction #contact {
  background-color: rgba(56, 56, 56, 0.8);
  color: white;
}
.index-construction section {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
  margin: 0 !important;
}
.index-construction .btn-detail {
  width: 100%;
}
