@import "variables.less";
@import "mixins.less";

.index-vp {
	.coupon {
	    border: 3px dashed #bcbcbc;
	    border-radius: 10px;
	    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
	    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	    font-weight: 300;
			margin-top : 50px;

			.coupon-img {
			    margin-bottom: 15px;
			    padding: 0;
			}

			.items {
			    margin: 0;
					font-size: 16px;
					padding-left : 0px;
						li {
							list-style-type:none;
							margin-left: 0px;
							padding-left: 0px;
							i {
								color : @brand-primary;
							}
					}
			}
			.asterisk {
				text-align: right;
			}

			#head {
			    border-top-left-radius: 10px;
			    border-top-right-radius: 10px;
			    min-height: 56px;
			}

			#footer {
			    border-bottom-left-radius: 10px;
			    border-bottom-right-radius: 10px;
			}

			#title
			{
				img {
				    font-size: 30px;
				    height: 30px;
				    margin-top: 5px;
				}
				span {
				    float: right;
				    margin-top: 5px;
				    font-weight: 700;
				    text-transform: uppercase;
				}
			}

			.usd {
			    font-size: 23px;
			}

			.cents {
			    font-size: 20px;
			}

			.number {
			    font-size: 40px;
			    font-weight: 700;
			}
			sup {
			    top: -15px;
			}

			.disclosure {
			    padding-top: 1px;
			    font-size: 18px;
			    color: @gray-darkest;
			    text-align: center;
			}

			.coupon-code {
			    color: #333333;
			    font-size: 11px;
			}

			.exp {
					font-weight: 700;
					font-size: 15px;
			}

			.print {
			    font-size: 14px;
			    float: right;
			}

	}

	#presentation {
		background-color: @gray-lighter;
		padding-top : 70px;
		padding-bottom: 70px;
			.btn-intro {
				width: 80%;
				margin: 10px;
			}

			.intro-text
			 {
				.heading-font;
				font-weight: 700;
				font-size: 25px;
				line-height: 30px;
				margin-bottom: 30px;
				margin-top: 30px;
				border-color : @gray;
				color : darken(@gray, 10%);;
				strong {
					font-weight: 700 !important;
					font-size: 25px !important;
				}
			}
	}

	section {
		padding-top : 50px;
		padding-bottom : 50px;
	}

	.bientot {
		padding : 0px;
		margin : 0px;

		-ms-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);

		margin-top : 40px;
		margin-bottom : 40px;

		/*margin-left: -50px;*/
		width : 100%;

		font-weight: 700;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);

	}

	.detail-sapins .infos-sapins {
		font-weight: 700;
		margin-left: 100px;
		strong {
			font-size: 18px;
		}
	}
}

@media (max-width: 767px){
	.index-vp {
			.coupon {
				margin-top : 50px;

				.asterisk {
					text-align: left;
				}
			}

			#presentation {
				padding-top : 10px;
				padding-bottom: 10px;
			}

			.bientot {
				margin-top : 20px;
				margin-bottom : 20px;
			}

			.intro-text {
		    margin-bottom: 20px;
		    margin-top: 20px;
			}

			.detail-sapins .infos-sapins {
				font-weight: 700;
				margin-left: 10px;
				margin-right: 10px;
				strong {
					font-size: 18px;
				}
			}
	}
}

.non-contractuelle {
	text-align: right;
	font-style: italic;
	font-size: 12px;
	padding-right: 10px;
}

.popover-title {
	font-weight: 700;
}
